.vscode
.venv
__pycache__
env
.env
secrets.env

# Database
stylometryproject/db.sqlite3
db.sqlite3

# PAN14_Code Ignores
PAN14_Model_Code/nltk_data
PAN14_Model_Code/model_weights
PAN14_Model_Code/word2vec.model
PAN14_Model_Code/models

# JetBrains IDE Ignores
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/IT-Project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

stylometryproject/.env
