# Stylometry Library dependencies
tensorflow==2.13.0
gensim==4.3.2
nltk==3.8.1
numpy==1.24.3

# Jupyter Notebook requirements (in addition to above)
scikit-learn
networkx
tqdm
matplotlib

# Django requiments
Django
djangorestframework
django-cors-headers

# Database
psycopg2
psycopg2-binary
awsebcli

# Deployment
python-dotenv
python-decouple
gunicorn
celery
redis