<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous" defer></script>

    <title>About AuthorGuard</title>
</head>

<body>
    <nav class="navbar navbar-expand-md py-2">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo.png' %}" alt="AuthorGuard"
                    width="30" height="30">AuthorGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li><a href="/profile" class="nav-link">PROFILE MANAGER</a></li>
                    <li><a href="/verify" class="nav-link">VERIFY DOCUMENTS</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <button class="btn btn-lg ms-2" id="logout-btn" onclick="window.location.href='/logout'">LOGOUT</button>
            {% endif %}
        </div>
    </nav>

    <div id="title">
        <h1>About AuthorGuard</h1>
    </div>
    <div>
        <section>
            <h3>What is AuthorGuard</h3>
            <p>AuthorGuard leverages powerful modern day AI and machine learning techniques to detect
                the likelihood that a given piece of writing was written by a
                particular individual, with a high accuracy. It works by identifying and analysing
                certain stylistic features
                unique to each users and compares a document based on a user's 'profile'.
            </p>
        </section>
        <section>
            <h3>Why is this needed?</h3>
            <p>Universities and other institutions have always had the need to check for the
                orginality of works of students and researchers.
                There are tools like Turnitin that checks for plagerism in work done by students or researchers.
                However, with the rise of AI technologies such as ChatGPT which is able to generate essays and
                other work, tools
                that checks for plagerism are unable to provide authorship verification.
                This is where Authorguard hopes to help.
                By detecting stylistic feature unique to each person, AuthorGuard is able to distinguish work
                written by the author in quesiton from work
                potentially written by AI or others.
            </p>
        </section>

        <section>
            <h3>Future Plans</h3>
            <p>Currently, the application is only able to respond with predictions on whether
                it's written by the person in question or is potentially sourced from other sources. In the future,
                the application may be fitted with the ability to report aspects of stylometry unique to each
                individuals and the comparisons will have a detailed breakdown of areas
                the model has detected to be different. In addition, the application
                may be extended to handle more file types as well as files with images.
            </p>
        </section>
    </div>

</body>

</html>