<!DOCTYPE html>
<html lang="en">

<!-- Style Sheet Loading -->
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}" />

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous" defer></script>

    <title>AuthorGuard | Authorship Verification</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-md py-2">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo.png' %}" alt="AuthorGuard"
                    width="30" height="30">AuthorGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li><a href="/profile" class="nav-link">PROFILE MANAGER</a></li>
                    <li><a href="/verify" class="nav-link">VERIFY DOCUMENTS</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <button class="btn btn-lg ms-2" id="logout-btn" onclick="window.location.href='/logout'">LOGOUT</button>
            {% else %}
            <button class="btn btn-lg ms-2" id="login-btn" onclick="window.location.href='/login'">LOGIN</button>
            {% endif %}
        </div>
    </nav>


    <section class="container-xxl" style="height: 90vh">
        <div class="row d-flex justify-content-center" style="height: 82.5%;">
            <div class="col-md-6" style="margin-top: 5%;">
                <h1 class="display-4">Defend Authorial Integrity with AuthorGuard</h1>
                <p class="lead">
                    Using AI, AuthorGuard can easily perform authorship verification with just a small sample of
                    documents
                </p>
            </div>
            <div class="col-md-4" style="margin-top: 5%;">
                <img src="{% static 'images/landing_image.png' %}" style="width: 100%; height: auto;" id="landing-img">
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="height: 10%;">
            <a href="#instructions" style="width: 64px; height: 64px;" id="down-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                    class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg>
            </a>
        </div>

        <!-- <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 mx-5"><a href="/profile"><button type="button" class="btn btn-lg">Profile
                            Manager</button></a></div>
                <div class="col col-lg-2 mx-5"><a href="/verify"><button type="button" class="btn btn-lg">Verify
                            Documents</button></a>
                </div>
            </div>
        </div> -->

    </section>

    <section class="container-fluid-lg mt-5 vh-100" id="instructions" style="background-color: #F4F0D6;">
        <div class="row d-flex justify-content-center" style="height: 33vh">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="42%" height="42%" fill="currentColor"
                    class="bi bi-1-square-fill signage" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                </svg>
                <span style="font-size: 1.5rem;">Create a 'Profile' to store original documents used for testing unknown
                    documents </span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="55%" height="55%" fill="currentColor"
                    class="bi bi-people graphic" viewBox="0 0 16 16" style="color:#669bbc">
                    <path
                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                </svg>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="height: 33vh">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%" fill="currentColor"
                    class="bi bi-check-all graphic" viewBox="0 0 16 16" style="color: #3a5a40;">
                    <path
                        d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                </svg>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="55%" height="55%" fill="currentColor"
                    class="bi bi-2-square-fill signage" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                </svg>
                <span style="font-size: 1.5rem;">Perform authorship verification by uploading the document to test
                    against profiles made previously</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="height: 33vh">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor"
                    class="bi bi-3-square-fill signage" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                </svg>
                <span style="font-size: 1.5rem;">Analyse the results generated by the algorithm including stylistic
                    differences!</span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="55%" height="55%" fill="currentColor"
                    class="bi bi-bar-chart-line-fill graphic" viewBox="0 0 16 16" style="color: #dda15e;">
                    <path
                        d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z" />
                </svg>
            </div>
        </div>
    </section>

</body>

</html>