<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Upload Button Icon Source-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'styles/uploadbutton.css' %}">

    <title>Manage Profiles</title>
</head>

<body>
    <nav class="navbar navbar-expand-md py-2">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo.png' %}" alt="AuthroGuard" width="30"
                    height="30">AuthorGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li><a href="/profile" class="nav-link">PROFILE MANAGER</a></li>
                    <li><a href="/verify" class="nav-link">VERIFY DOCUMENTS</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <form class="container-xxl">
        <div class="row justify-content-md-left mt-4">
            <div class="col-md-4">
                <h2 class="display-5">Upload Documents</h2>
                <p>Upload Documents to add to a profile</p>
                <input type="file" id="upload" name="file-upload" multiple />
                <label for="upload">
                    <i class="fa-solid fa-circle-arrow-up"></i>
                    &nbsp;Upload&nbsp;Documents
                </label>

                <!--Displaying the uploaded documents-->
                <div id="uploaded-file-list-box">
                    <ul id="files-list"></ul>
                </div>

                <div id="num-of-files">No Files Chosen</div>

            </div>
            <div class="col-md-4">
                <h2 class="display-5">Select Profile</h2>
                <p>Select a profile to add the documents to, or create a new one</p>
                <div class="dropdown">
                    <button class="btn btn-large dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="curr-profile-name"> None </button>
                    <ul class="dropdown-menu" id="profile-list">
                        <li><a class="dropdown-item" href="#">Test</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h2 class="display-5">Current Profile</h2>


                <div class="row" style="background-color: #F0E2B6; width: 80%; margin : 5% 0 0 0;">
                    <p id="curr-profile-name">Profile&nbsp;:&nbsp;None</p>
                </div>
                <div class="row" id="curr-profile-list-box">
                    <ul id="files-list">
                        <li> Cat.jpg</li>
                    </ul>
                </div>
                <input class="btn btn-large" type="submit" value="Submit Documents">
            </div>
        </div>

    </form>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Upload Button Script -->
    <script src="{% static 'scripts/uploadButton.js'%}"></script>
</body>

</html>