<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Upload Button Icon Source-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'styles/uploadbutton.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loadingSpinner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/resultsBox.css' %}">
    <link rel="stylesheet" href="{% static 'styles/infoIcon.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}" />

    <title>Verify Documents</title>
</head>

<body>
    <nav class="navbar navbar-expand-md py-2">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo.png' %}" alt="AuthroGuard"
                    width="30" height="30">AuthorGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li><a href="/profile" class="nav-link">PROFILE MANAGER</a></li>
                    <li><a href="/verify" class="nav-link">VERIFY DOCUMENTS</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <button class="btn btn-lg ms-2" id="logout-btn" onclick="window.location.href='/logout'">LOGOUT</button>
            {% endif %}
        </div>
    </nav>

    <div class="container-xxl">
        <div class="row justify-content-md-left mt-4">

            <!-- Select Profile -->
            <div class="col-md-4">
                <h2 class="display-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                    </svg>Select Profile</h2>

                <!-- Information Icon + Description-->
                <div class="container">
                    <p>Select a profile to run comparison tool on</p>
                    <div class="info-icon">
                        <i class="fa fa-info-circle"></i>
                        <div class="info-content">Profiles can be created on the 'Profile Manager'
                            page, verification runs on all documents
                            uploaded to the selected profile.
                        </div>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-large dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="curr-profile" data-profile-id="{{ profile_id }}"> {{ profile_name
                        }} </button>
                    <ul class="dropdown-menu" id="profile-list">
                        <li style="padding: 7px" id="no-files"> -- ADD A PROFILE FIRST --</li>
                        {% for profile in profiles %}
                        <li>
                            <a class="profile-item" href="#" data-profile-id="{{ profile.id }}">
                                <div class="d-flex justify-content-between">
                                    <span>{{ profile.name }}</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="none" id="current-docs">
                    <div class="row" style="background-color: #F0E2B6; width: 80%; margin: 5% 0 0 0;">
                        <p id="display-curr-profile-name">Files in Profile: </p>
                    </div>
                    <div class="row" id="profile-files-list-box">
                        <ul id="profile-files-list">
                            <!-- Documents will be displayed here -->
                        </ul>
                    </div>
                    <button class="edit delete-profile btn btn-danger btn-sm ml-auto none"
                        data-profile-id="{{ profile.id }}" style="color: #ae2012;"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg></button>
                </div>
            </div>

            <!-- Upload Documents -->
            <div class="col-md-4" style="padding-right: 2%;">
                <h2 class="display-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z" />
                    </svg>Upload Document</h2>

                <!-- Information Icon + Description-->
                <div class="container">
                    <p style="margin-bottom: 0;">Upload a document for comparison with a profile</p>
                    <div class="info-icon">
                        <i class="fa fa-info-circle"></i>
                        <div class="info-content">Supported file types are .txt, .docx and .pdf.
                            The verification algorithm will predict whether
                            the selected profile's documents have the same authorship
                            as the uploaded document.
                        </div>
                    </div>
                </div>
                <p style="padding-top: 0; font-size: 0.85rem;">(10MB is the Max File Size)</p>

                <!-- Restrict file type to .txt -->
                <input type="file" id="upload" name="file-upload" accept=".txt, .docx, .pdf">
                <label class="upload-label" for="upload">
                    <i class="fa-solid fa-circle-arrow-up"></i>
                    &nbsp;Upload&nbsp;Document
                </label>

                <!--Displaying the uploaded documents-->
                <div class="row" id="uploaded-file-list-box">
                    <ul id="files-list"></ul>
                </div>

                <div id="num-of-files">No File Chosen</div>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <button class="btn btn-large" id="verify-button">Run Verification</button>
                    </div>
                </div>


            </div>

            <!-- Verification Results -->
            <div class="col-md-4" id="verification-results">
                <h2 class="display-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z" />
                    </svg>Verification Results</h2>
                <p class="lead" id="verify-text" style="margin-bottom: 0; padding-bottom: 0;">
                    Run verification test to see results
                </p>
                <div class="text-center" style="font-size: 0.75rem; margin-top: 5px;">
                    The results may not be accurate in 100% of the cases.
                </div>
                <div class="loader none">Loading...</div>
                <div class="results-box col align-items-center" style="display: None;">
                    <div class="row results-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="225" height="225" fill="#008000"
                            style="display: None;" class="bi bi-check-circle-fill" viewBox="0 0 16 16" id="pass-icon">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="225" height="225" fill="#FF0000"
                            style="display: None;" class="bi bi-x-circle-fill results-icon" viewBox="0 0 16 16"
                            id="fail-icon">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </div>
                    <div>
                        <h3 class="text-center" id="results-message"></h3>
                    </div>
                </div>
                <!-- <table id="analytics-table" class="analytics-table" style="display: None;">
                    <thead>
                        <th />
                        <th>Rare Words</th>
                        <th>Long Words</th>
                        <th>Sentence Length</th>
                    </thead>
                    <tbody id="analytics-table-body" />
                </table> -->
                <div class="row justify-content-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#resultsModal" id="show-modal" class="none">
                        Click For More Information
                    </a>
                </div>

                <!-- Additional Results Modal -->
                <div class="modal fade" id="resultsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Additional Information</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <p class="additional-results" id="intro"></p>
                                        <p class="additional-results">Some of the stylistic features analysed are
                                            displayed below:</p>
                                    </div>
                                    <div class="row justify-content-center" style="height: 200px" id="rare-container">
                                        <canvas id="Rare"></canvas>
                                    </div>
                                    <div class="row justify-content-center" style="height: 200px" id="long-container">
                                        <canvas id="Long"></canvas>
                                    </div>
                                    <div class="row justify-content-center" style="height: 250px" id="pie-container">
                                        <div class="col-md-6 ms-auto">
                                            <canvas id="Sentence-Pie"></canvas>
                                        </div>
                                        <div class="col-md-6 ms-auto">
                                            <canvas id="Word-Pie"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!-- chart.js for visualisation -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Include jQuery (before Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Upload Button Script -->
    <script src="{% static 'scripts/verifyUtils.js'%}"></script>
    <script src="{% static 'scripts/verify.js'%}"></script>
    <script src="{% static 'scripts/docDisplay.js'%}"></script>
    <script src="{% static 'scripts/removePlaceholder.js' %}"></script>
    <script src="{% static 'scripts/infoIcon.js'%}"></script>


</body>

</html>