<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Include jQuery (before Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Upload Button Icon Source-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'styles/uploadbutton.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dropdown.css' %}">
    <link rel="icon" type="image/png" href="../static/images/Favicon.png"/>

    <title>Verify Documents</title>
</head>

<body>
    <nav class="navbar navbar-expand-md py-2">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo.png' %}" alt="AuthroGuard"
                    width="30" height="30">AuthorGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li><a href="/profile" class="nav-link">PROFILE MANAGER</a></li>
                    <li><a href="/verify" class="nav-link">VERIFY DOCUMENTS</a></li>
                    <li><a href="/about" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <button class="btn btn-lg ms-2" id="logout-btn" onclick="window.location.href='/logout'">LOGOUT</button>
            {% endif %}
        </div>
    </nav>

    <div class="container-xxl">
        <div class="row justify-content-md-left mt-4">

            <!-- Select Profile -->
            <div class="col-md-4">
                <h2 class="display-5">Select Profile</h2>
                <p>Select a profile to run the comparison tool on.</p>
                <div class="dropdown">
                    <button class="btn btn-large dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="curr-profile-name"> None </button>
                    <ul class="dropdown-menu" id="profile-list">
                        {% for profile in profiles %}
                        <li>
                            <a class="profile-item" href="#" data-profile-id="{{ profile.id }}">
                                <div class="d-flex justify-content-between">
                                    <span>{{ profile.name }}</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Upload Documents -->
            <div class="col-md-4">
                <h2 class="display-5">Upload Documents</h2>
                <p>Upload a document for comparision to a profile</p>
                <!-- Restrict file type to .txt -->
                <input type="file" id="upload" name="file-upload" accept=".txt, .docx">
                <label class="upload-label" for="upload">
                    <i class="fa-solid fa-circle-arrow-up"></i>
                    &nbsp;Upload&nbsp;Documents
                </label>

                <!--Displaying the uploaded documents-->
                <div id="uploaded-file-list-box">
                    <ul id="files-list"></ul>
                </div>

                <div id="num-of-files">No File Chosen</div>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <button class="btn btn-large" id="verify-button">Run Verification</button>
                    </div>
                </div>


            </div>

            <!-- Verification Results -->
            <div class="col-md-4" id="verification-results">
                <h2 class="display-5">Verification Results</h2>
                <p class="lead" id="verify-text">Run verification test to see results</p>
            </div>

        </div>
    </div>





    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Upload Button Script -->
    <script src="{% static 'scripts/verifyButton.js'%}"></script>
    <script src="{% static 'scripts/verify.js'%}"></script>
    <script src="{% static 'scripts/docDisplay.js'%}"></script>


</body>

</html>