#results-message {
    padding-top: 20px; /* Adjust the value to your desired amount of padding */
}

.results-box {
    margin-top: 15%;
    margin-left: 10%;
}

.analytics-table {
    border-collapse: collapse;
    padding-top: 30px;
}

.analytics-table th,
.analytics-table td {
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: right;
}

#show-modal {
    text-align: center;
    margin-top: 10px;
}

#rare-container,
#long-container {
    margin-bottom: 40px;
}

.additional-results {
    padding-top: 0;
    font-size: 1em;
}