body {
    background-color: #fefae0;
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #dda15e;
}

.navbar-brand {
    color: #283618;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    color: #fefae0;
    font-size: 1rem;
    font-weight: 100;
}

.nav-link:hover {
    color: #3a5a40;
}

section h1 {
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    font-weight: 700;

}

.lead {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2.5%;
    font-size: 1.5rem;
}

.btn {
    background-color: #d88d4c;
    font-size: 1.5rem;
    transition: all 0.25s;
}

.btn:hover {
    color: #283618;
    box-shadow: 0 0.6em 0.6em -0.4em #283618;
    background-color: #fca311;
    transform: translateY(-0.25em);
}
